.position1{
    /* position: relative; */
margin-top:35px ;
line-height:140% ;
margin-left: 10px;
}
.line{
    width:80px ;
    height:5px ;
    /* border: 1px solid; */
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#orange{
    background-color: orange;
}
#red{
    background-color: red;
}

@media screen and (max-width:400px){
*{
   margin:0px ;
   padding:0px;
}
#clcbtn{
    position: relative;
    right:300px ;
    bottom:340px ;
}
#container2{
    width: 450px;
   ;
}
.row{
    display: flex;
    flex-direction:column;
}
#col4{
  width:100% ; 
}
body,html{
    width:auto;
    height: auto;
}
#loader{
    margin-top:50px ;
}
}